<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rock in Rio</title>
    <link rel="stylesheet" href="../assets/template/css/style.css">
</head>
<body>
    <header>
        <div class="topo">
            <div class="topoInterior">
                <img src="css/logo_rio.png" alt="">
                <div class="menu">
                    <ul>
                        <li class="opcaoMenu">FOTOS</li>
                        <li class="opcaoMenu">VÍDEOS</li>
                        <li class="opcaoMenu">MÚSICAS</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main id="centro">
        
    </main>

    <footer>
        <div class="rodape">
            <div class="rodapeInterior"></div>
        </div>
    </footer>
</body>
</html>