.centro{
    background: #000000;
    background:   linear-gradient(#010026, #000000, #010026);
    background:   -moz-linear-gradient(#010026, #000000, #010026);
    background:   -o-linear-gradient(#010026, #000000, #010026);
    background:   -webkit-linear-gradient(#010026, #000000, #010026);
    padding-bottom: 20px;
}

.centroInterior{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: 500px;
}

.audio{
    padding-top: 20px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

audio{
    width: 100%;
    max-width: 800px;
}